<!DOCTYPE html>
<html lang="en">

<head>
  <title>Layout</title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div class="header">
    <h1>Header</h1>
  </div>

  <div class="content">
    <div class="content__image">
      Image
    </div>
    <div class="content__information">
      <div class="content__information__top">
        TOP
      </div>
      <div class="content__information__bottom">
        BOTTOM
      </div>

    </div>
  </div>

  <div class="footer">
    <h2>Footer</h2>
  </div>
</body>

</html>